{% extends 'registration/base.html' %}

{%block page_title%}
    <h1 class="m-0 text-dark">لیست مقالات</h1>
{%endblock%}
{%block main_content%}
<div class="row">
    <div class="col-12">
      <div class="card">
        
        <!-- /.card-header -->
        {% if object_list %}
          <div class="card-body table-responsive p-0">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>عنوان مقاله</th>
                  <th>تصویر بند انگشتی</th>
                  <th>نویسنده مقاله</th>
                  <th>دسته بندی</th>
                  <th>خلاصه مقاله</th>
                  <th>تاریخ انتشار</th>
                  <th>وضعیت انتشار</th>
                </tr>
              </thead>
              <tbody>
              {% for article in object_list %}
                  <tr>
                      <td>
                        {% if article.Status == 'd' or user.is_superuser %}
                          <a href="{% url 'account:article_update' article.pk %}">{{article.Title}}</a>
                        {% else %}
                          {{article.Title}}
                        {% endif %}
                      </td>
                      <td>{{article.thumbnail_tag}}</td>
                      <td>{{article.Author.get_full_name}}</td>
                      <td>{{article.Category_str}}</td>
                      <td>{{article.Description|striptags|truncatewords:"25"}}</td>
                      <td>{{article.publish_time}}</td>
                      <td>
                          {% if article.Status == 'p' %}
                              <span class="badge bg-success"><a href="{% url 'blog:ArticleDetail' article.Slug %}">منتشر شده</a></span>
                          {% else %}
                          <span class="badge badge-dark">پیش نویس</span>
                          <span class="badge badge-secondary"><a style="color:white;" href="{% url 'blog:ArticlePreview' article.pk %}">پیش نمایش</a></span>
                          {% endif %}
                          {% if user.is_superuser %}
                            <span class="badge badge-danger"><a  style="color:white;"  href="{% url 'account:article_delete' article.pk %}">حذف</a></span>
                          {% endif %}
                      </td>
                  </tr>
                {%endfor%}
                </tbody>
              </table>
            </div>
          {% else %}
            <h3 class="p-2">محتوایی جهت نمایش وجود ندارد.</h3>
          {% endif %}
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>   
{%endblock%}
{% block main_sidebar %}
    {% include 'registration/sidebar.html' %}
{%endblock%}
