{% extends 'blog/base.html' %}
{% load static %}
{% block title %}کیارش یاوری | {{article.Title}}{% endblock%}
<!-- Page Header-->
{% block header%}
<header class="masthead" style="background-image: url('{{article.Thumbnail.url}}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>{{article.Title}}</h1>
                            <span class="subheading"></span>
                        </div>
                    </div>
                </div>
            </div>
</header>
{% endblock %}
{% block post_content %}
 <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {{article.Description|linebreaks}}
                        <p>
                            {{article.publish_time}}
                        </p>
                    </div>
                </div>
            </div>
        </article>
{% endblock %}